{#-
  Override of Material's blog.html
  Renders the post list (index / category / archive) as a horizontal list,
  machinelearningmastery.com style.
-#}
{% extends "main.html" %}
{% block container %}
  <div class="md-content" data-md-component="content">
    <div class="md-content__inner">
      {% if page.content | trim %}
        <header class="md-typeset md-blog-masthead">
          {{ page.content }}
        </header>
      {% endif %}
      <div class="md-post-list">
        {% for post in posts %}
          {% include "partials/post.html" %}
        {% endfor %}
      </div>
      {% if pagination %}
        {% block pagination %}
          {% include "partials/pagination.html" %}
        {% endblock %}
      {% endif %}
    </div>
  </div>
{% endblock %}
