{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container search-page">
    <h1 class="title">{{ .Title }}</h1>
    <div id="search"></div>
    <script>
      window.addEventListener("DOMContentLoaded", (event) => {
        new PagefindUI({
          element: "#search",
          showSubResults: true,
          showImages: false,
          translations: {
            placeholder: "Cerca nel blog…",
            zero_results: "Nessun risultato per [SEARCH_TERM]",
            many_results: "[COUNT] risultati per [SEARCH_TERM]",
            one_result: "1 risultato per [SEARCH_TERM]",
            alt_search: "Nessun risultato per [SEARCH_TERM]. Mostro invece i risultati per [DIFFERENT_TERM]",
            search_suggestion: "Nessun risultato per [SEARCH_TERM]. Prova una di queste ricerche:",
            searching: "Ricerca di [SEARCH_TERM]…",
          },
        });
      });
    </script>
  </section>
{{ end }}
